@{
    Layout = null;
}
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script data-main="/Scripts/App/JasmineConfig" src="/Scripts/lib/require.js"></script>
</head>
<body>
</body>
</html>
