<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://thirdeye1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thirdeye1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$thirdeye1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FlowerConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:zbryt6ewmn.database.windows.net,1433;Initial Catalog=thirdeyAGBATegaT;Integrated Security=False;User ID=avladu@zbryt6ewmn;Password=Passw0rd;Connect Timeout=30;Encrypt=True" Name="Server=tcp:zbryt6ewmn.database.windows.net,1433;Database=thirdeyAGBATegaT;User ID=avladu@zbryt6ewmn;Password=Passw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ThirdEye.Models.FlowerContext, ThirdEye" MigrationConfiguration="ThirdEye.Migrations.Configuration, ThirdEye" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlowerConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:zbryt6ewmn.database.windows.net,1433;Database=thirdeyAGBATegaT;User ID=avladu@zbryt6ewmn;Password=Passw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>