<div class="text-center fg-color-white">
    <p class="long-text" style="margin: 0px">

        <button id="left-forward" class="default-button-small" style="height: 20px;">Left-Forward</button>
        <button id="forward" class="default" style="height: 40px;">Forward</button>
        <button id="right-forward" class="default-button-small" style="height: 20px;">Right-Forward</button>
    </p>
    <p class="long-text" style="margin: 0px">
        <button id="left" class="default" style="height: 40px">Left</button>
        <button id="ch-gear" class="default" style="height: 40px">Stop</button>
        <button id="right" class="default" style="height: 40px">Right</button>
    </p>
    <p class="long-text" style="margin: 0px">
        <button id="left-backward" class="default-button-small" style="height: 20px;">Right-Backward</button>
        <button id="backward" class="default" style="height: 40px">Backward</button>
        <button id="right-backward" class="default-button-small" style="height: 20px;">Right-Backward</button>
    </p>

</div>

<style>
    .default-button-small {
    font-size:10px;
    height:10px;
    }

</style>
