<div class="text-center fg-color-white">
    <p class="long-text" style="margin: 0px">
        <button id="forward" class="default" style="height: 40px">Forward</button>
    </p>
    <p class="long-text" style="margin: 0px">
        <button id="left" class="default" style="height: 40px">Left</button>
        <button id="backward" class="default" style="height: 40px">Backward</button>
        <button id="right" class="default" style="height: 40px">Right</button>
    </p>
    <p class="long-text" style="margin: 0px">
        <button id="ch-gear" class="command-button default" style="width: 300px; text-align: center">+ Gear</button>
    </p>
</div>




